In [17]:
## tables

with open("data files/input1.txt","a") as ft:
    p=input()
    ft.write(p+"\n")

21 7

In [10]:
n=input().split()
t=int(n[0])
r=int(n[1])
for i in range(1,r+1):
    print("{} x {:02} = {:02}".format(t,i,t*i))
    print(end="\n")

5 15
5 x 01 = 05

5 x 02 = 10

5 x 03 = 15

5 x 04 = 20

5 x 05 = 25

5 x 06 = 30

5 x 07 = 35

5 x 08 = 40

5 x 09 = 45

5 x 10 = 50

5 x 11 = 55

5 x 12 = 60

5 x 13 = 65

5 x 14 = 70

5 x 15 = 75

In [13]:
with open("data files/input1.txt","r") as fr:
    r=fr.readlines()
    for t in r:
        y=t.split("\n")[0]
        
        p=y.split()
        print(p)

['2', '10']
['3', '5']
['5', '15']

In [18]:
with open("data files/input1.txt","r") as fr:
    r=fr.readlines()
    with open("data files/output1.txt","w") as fp:
        for t in r:
            y=t.split("\n")[0]
            p=y.split()
            ta=int(p[0])
            ra=int(p[1])
            m=""
            for j in range(1,ra+1):
                m=m+"{} x {:02} = {:02}".format(ta,j,ta*j)+"\n"
            fp.write(m+"\n")

 studentsmarks.text

 _________________________________________________________________
 s.no   |   name   |   maths  |  phy  |  che  | eng  | hin  | tel |
 _________________________________________________________________
 01     |  Raju    | 42       |56     |67     |56    |78    | 72  |


 studentsgrade.txt
 _____________________________________
 s.no   |   name   |   total  |  Grade
 _____________________________________
 01     |   suresh      ?       ?

In [25]:
with open("data files/stu_marks.txt","r") as fr:
    r=fr.read()
    print(r)

1 John 39 47 40
2 Jack 35 42 49

In [24]:
with open("data files/stu_marks.txt","a") as fa:
    p=input()
    fa.write(p+"\n")

2 Jack 35 42 49

In [26]:
with open("data files/stu_marks.txt","r") as fr:
    r=fr.readlines()
    with open("data files/marks.txt","w") as fp:
        for t in r:
            y=t.split("\n")[0]
            p=y.split()
            no=int(p[0])
            nam=p[1]
            mat=int(p[2])
            phy=int(p[3])
            che=int(p[4])
            m=""
            for j in range(1):
                m=m+"{} {} {} {} {}".format(no,nam,mat,phy,che)
            fp.write(m+"\n")