## Assignment operators
- +=,-=,*=,/=,//=,**=,%=,<=,>=,==,===

In [17]:
a=10

In [18]:
a

10

In [19]:
a+=1

In [20]:
a

11

In [21]:
a*=2

In [22]:
a

22

## Membership operators
- By using this operators we will identify a particular element belongs to group or not
- They are : in ,not in

In [23]:
arr=[1,2,3,4,5,6]
inp=3
inp in arr

True

In [24]:
10 in arr

False

In [26]:
s1='mounika korra'
'n' in s1

True

In [27]:
'mounika' in s1

True

In [28]:
bits='00110010111'
'00' in bits

True

In [29]:
4 not in arr

False

In [30]:
arr

[1, 2, 3, 4, 5, 6]

## Identity operators
- By using this operators we compare values
- They are:is,is not

In [31]:
'abc' is 'abc'

True

In [32]:
'abc' is 'cbd'

False

In [33]:
123 is not 1234

True

## Conditional Control Statements
- It controls the flow of execution based on condition
- For that we have few different statements:
    - conditional stmt
    - looping stmt
    - jump stmt

### Conditional Statements:
- if
    - if(condition):
          stmt
- if else
    - - if(condition):
          stmt
        else:
             stmt
- nested if else
- else if ladder

In [34]:
if(5<6):
    print('True')

True

In [35]:
if(5<6):
    print('i am inside if')
    print("5 is small")
print('i am out of if')

i am inside if
5 is small
i am out of if

In [38]:
if(51<6):
    print('i am inside if')
 print("5 is small")
print('i am out of if')

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [39]:
if(51<6)
    print('i am inside if')
    print("5 is small")
print('i am out of if')

SyntaxError: invalid syntax (<ipython-input-39-ef9baa7b70f0>, line 1)

In [42]:
if(51<6):
    print('i am inside if')
    print("5 is small")
print('i am out of if')

i am out of if

In [43]:
if(4>7):
    print('i am inside if block')
else:
    print('i am inside else block')

i am inside else block

In [46]:
if(23>7):
    print('i am inside if block')
else:
    print('i am inside else block')
print('i am going to exit')

i am inside if block
i am going to exit

In [47]:
if(4>7):
    print('i am inside if block')
print('just added')
else:
    print('i am inside else block')

SyntaxError: invalid syntax (<ipython-input-47-38a20feef2a1>, line 4)

In [52]:
if(4>7):
    print('i am inside if block')
else:
    print('i am inside else block')

i am inside else block

In [51]:
if(4>7):
    print('i am inside if block')
  
else:
    print('i am inside else block')

i am inside else block

In [54]:
if(5<6):
    if(6<7):
        print('6 is existed in b/w 5 and 6')
    else:
        print('wrong choice')
else:
    print('try again')

6 is existed in b/w 5 and 6

In [55]:
if((5<6) and (6<7)):
    print('6 is existed in b/w 5 and 6')
else:
    print('try again')

6 is existed in b/w 5 and 6

In [58]:
if(343<67):
    print('true')
elif(341>45):
    print('i am from elif')
else:
    print("false")

i am from elif

#### task1: write a logic to find biggest of 2 no's i.e,34 and 234
#### task2:write a logic to find biggest of 3 no's 
#### task3:find even or not
- if it is even print power of value
- othewise print multiply that value with 5
#### task4:write a logic to find a given number is 5 multiple or not

In [5]:
a=int(input("Enter a value: "))
b=int(input("Enter a value: "))
if(a>b):
    print(a,"is big")
else:
    print(b,"is big")

Enter a value: 34
Enter a value: 234
234 is big

In [3]:
a=int(input("Enter a value: "))
b=int(input("Enter b value: "))
c=int(input("Enter c value: "))
if(a>b and a>c):
    print(a,"is big")
elif(b>c):
    print(b,"is big")
else:
    print(c,"is big")

Enter a value: 67
Enter b value: 78
Enter c value: 28
78 is big

In [8]:
a=int(input("Enter a value :"))
if(a%2 is 0):
    print("power: ",pow(a,2))
else:
    print(a*5)

Enter a value :8
power:  64

In [12]:
a=int(input("Enter a value :"))
if(a%5==0):
    print(a,"is multiple of 5")
else:
    print(a,"is not multiple of 5")

Enter a value :35
35 is multiple of 5