## Comprehensions
- we are trying to reduce number of line
- Types of Comprehensions
    - list
    - tuple or generators
    - set
    - dictionary

In [17]:
# generate list of 100 numbers
li=[]
for i in range(1,101):
    li.append(i)
print(li,end="")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [19]:
# list comprehension
val=[i for i in range(1,101)]
print(val)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [24]:
# tuple comprehension
val=(i for i in range(1,101))
for i in val:
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [25]:
# set comprehension
val={i for i in range(1,101)}
print(val)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

In [32]:
# backend of generator
def nums():
    print("i am first")
    yield
    print("i am second")
    yield
    print("i am Third")
    yield

In [33]:
obj=nums()

In [34]:
next(obj)

i am first

In [35]:
next(obj)

i am second

In [46]:
# generate list of two multiples upto 10
val=[i*2 for i in range(1,11)]
print(val)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [48]:
val=[i for i in range(2,21,2)]
print(val)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [52]:
# generate list of 10 power values
val=[i**2 for i in range(1,11)]
print(val)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [53]:
val=[pow(i,2) for i in range(1,11)]
print(val)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [54]:
s='mouni'
ch=[ch for ch in s]
ch

['m', 'o', 'u', 'n', 'i']

In [61]:
# conditional statements in comprehensions
## generate list of even no's from 1 to100
evens=[i for i in range(1,100) if i%2==0]
print(evens,end=",")

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98],

In [67]:
##list of nos which are divisible by 2 and 5 from 1 to 100
evens=[i for i in range(1,101) if i%2==0 and i%5==0]
print(evens,end="")

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [1]:
nums = []
for i in range(1,101):
    if i%2==0:
        if i%5==0:
            nums.append(i)
print(nums,end=',')

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100],

In [2]:
nums = []
for i in range(1,101):
    if (i%2==0) and (i%5==0):
        nums.append(i)
print(nums,end=',')

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100],

In [3]:
nums=[i for i in range(1,101) if i%2==0 and i%5==0]
print(nums)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [4]:
evenstaus = ["Even" if i%2==0 else "odd" for i in range(1,10)]
evenstaus

['odd', 'Even', 'odd', 'Even', 'odd', 'Even', 'odd', 'Even', 'odd']