## Looping Statements
- To perform a task multiple times
- In python we have while and for
### For loop
- '''for in range():
        # body of the loop'''

In [1]:
range(10)

range(0, 10)

In [4]:
range(1,10)

range(1, 10)

In [5]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [7]:
for i in range(10):
    print(i,end=',')

0,1,2,3,4,5,6,7,8,9,

In [8]:
for y in range(1,10):
    print(y,end=" ")

1 2 3 4 5 6 7 8 9

In [9]:
for a in range(1,10,2):
    print(a,end=" ")

1 3 5 7 9

In [13]:
for a in range(2,13,2):
    print(a,end=" ")

2 4 6 8 10 12

In [17]:
for a in range(1,11):
    print(a*5,end=" ")

5 10 15 20 25 30 35 40 45 50

In [21]:
# generate a math table
n=int(input("Enter a number to generate math table :"))
for a in range(1,11):
    print(n,"*",a,"=",a*n)

Enter a number to generate math table :12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [23]:
## task1: generate math table upto given range
## if input:5 
## 2,3,4,5 tables

In [2]:
n=int(input("Enter a number to generate math table :"))
for a in range(2,n+1):
    for b in range(1,11):
        print(a,"*",b,"=",b*n)

Enter a number to generate math table :5
2 * 1 = 5
2 * 2 = 10
2 * 3 = 15
2 * 4 = 20
2 * 5 = 25
2 * 6 = 30
2 * 7 = 35
2 * 8 = 40
2 * 9 = 45
2 * 10 = 50
3 * 1 = 5
3 * 2 = 10
3 * 3 = 15
3 * 4 = 20
3 * 5 = 25
3 * 6 = 30
3 * 7 = 35
3 * 8 = 40
3 * 9 = 45
3 * 10 = 50
4 * 1 = 5
4 * 2 = 10
4 * 3 = 15
4 * 4 = 20
4 * 5 = 25
4 * 6 = 30
4 * 7 = 35
4 * 8 = 40
4 * 9 = 45
4 * 10 = 50
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

### while loop
- '''i=0
    while(con)
        #body of loop
            increment/decrement'''

In [30]:
i=1
while(i<=10):
    print(i)
    i+=1
print(i)

1
2
3
4
5
6
7
8
9
10
11

### Jump statements
- By using these statements we will terminate(exit)the loop
- Those are break and continue
- break: break state will terminate the loop permanently
- continue:it will terminte for instant time only

In [37]:
for i in range(100):
    if(i==51):
        break
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [38]:
for i in range(1,101):
    if(i%5==0):
        continue
    print(i,end=" ")

1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24 26 27 28 29 31 32 33 34 36 37 38 39 41 42 43 44 46 47 48 49 51 52 53 54 56 57 58 59 61 62 63 64 66 67 68 69 71 72 73 74 76 77 78 79 81 82 83 84 86 87 88 89 91 92 93 94 96 97 98 99

In [11]:
# Task
n=int(input("enter start value: "))
if(n%2 is 0):
    for i in range(n,101,2):
        print(i,end=" ")
else:
    for i in range(n+1,101,2):
        print(i,end=" ")

enter start value: 5
6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [12]:
n=int(input("enter start value: "))
for i in range(n,101,2):
    if(n%2 is 0):
        print(i,end=" ")
    else:
        print(i+1,end=" ")

enter start value: 5
6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100