## Data structures:
   - string
   - list
   - tupple
   - dictionary
   
### Strings:
   - combination of alphabets,numbers,special charaters
   - data should be enclosed between " or  '
   - slicing
       - 0   1  2  3  4 -->forward
       - -5 -4 -3 -2 -1 <--backward

In [5]:
d='mouni'
print(type(d))
d

<class 'str'>

'mouni'

In [6]:
r=2
print(type(r))
r

<class 'int'>

2

In [7]:
t=45.67
print(type(t))
t

<class 'float'>

45.67

In [8]:
y=input()
print(y)
y

45
45

'45'

In [9]:
y="Mounika"
"K.Mounika"

'K.Mounika'

In [9]:
p="Kumar"
print(p[2])

m

In [10]:
for m in range(len(p)):
    if m==3:
        print(p[m])

a

In [11]:
p[:]

'Kumar'

In [ ]:
p[index]
p[start:] -> p[1:]
p[:end] -> p[:2]
p[start:end] -> 0th index
p[start:end:stepping] -> for step

In [12]:
m="Rajesh Kumar"
print(len(m))
print(m[4])
print(m[-7])
print(m[2:])
print(m[-3:])
print(m[:9])
print(m[:-5])
print(m[:])

12
s
h
jesh Kumar
mar
Rajesh Ku
Rajesh
Rajesh Kumar

In [13]:
print(m)
print(m[3::])
print(m[-4::])
print(m[::])
print(m[:8:])
print(m[:-3:])
print(m[4:10:])
print(m[2:-6:])
print(m[-3:-3:]) # No output
print(m[-4:2:1]) # No output

Rajesh Kumar
esh Kumar
umar
Rajesh Kumar
Rajesh K
Rajesh Ku
sh Kum
jesh

In [20]:
print(m)
print(m[2::3])
print(m[4::-2])
print(m[7:10:3])
print(m[2:9:-1]) 
print(m[9:-10:-2])
print(m[-3:4:-2])
print(m[-2:-7:-3])

Rajesh Kumar
jhur
sjR
K

mKhe
mKh
aK

In [ ]:
0    1   2   3   4   5  6   7  8  9  10  11
R    a   j   e   s   h      K  u  m  a   r
-12 -11 -10  -9  -8  -7 -6 -5 -4 -3 -2  -1

In [26]:
w="Tarun Kumar"
t=w[:3]
y="x"*4
q=w[2:]
e=t+y+q
a=w[:3]+"x"*4+w[-2:]
print(t)
print(y)
print(e)
print(a)

Tar
xxxx
Tarxxxxrun Kumar
Tarxxxxar

In [27]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']