## Collections in python
- lists
- tupple
- set
- dictionary

- List data can be represented by using [] or list()
- List allow duplication of value
- We can manipulate data by using indexing and slicing
- ordered format

In [41]:
list3=["Ram",1,"sam",2,"Nayan",3]

In [42]:
print(list3)

['Ram', 1, 'sam', 2, 'Nayan', 3]

In [43]:
# indexing
list3[3]

2

In [44]:
list3[-4]

'sam'

In [45]:
list3[2:]

['sam', 2, 'Nayan', 3]

In [46]:
list3[0:4]

['Ram', 1, 'sam', 2]

In [47]:
list3[:-2]

['Ram', 1, 'sam', 2]

In [48]:
list3[1:4]

[1, 'sam', 2]

In [49]:
list3[2:0:-1]

['sam', 1]

In [50]:
list3[4::-3]

['Nayan', 1]

In [51]:
demo=list3[1:3]
demo

[1, 'sam']

In [52]:
list3.append("Mounika")
list3

['Ram', 1, 'sam', 2, 'Nayan', 3, 'Mounika']

In [72]:
list5=[1,2,3]
list6=["a","b","c"]

In [65]:
print(list5)

[1, 2, 3]

In [74]:
list5.extend(list6)

In [67]:
list5

[1, 2, 3, 'a', 'b', 'c']

In [68]:
list5.remove("c")
list5

[1, 2, 3, 'a', 'b']

In [69]:
list5.pop()

'b'

In [70]:
list5.pop(2)
list5

[1, 2, 'a']

In [59]:
del list5

In [60]:
list5

NameError: name 'list5' is not defined

In [73]:
list5
list5.insert(3,"Aravind")
list5

[1, 2, 3, 'Aravind']

In [75]:
for data in list5:
    print(data)

1
2
3
Aravind
a
b
c

In [78]:
employee=["sam","Mounika","Bhanu"]
manager=["Rakesh","Vamsi","Madhavi"]
for emp in employee:
    manager.append(emp)
print(manager)

['Rakesh', 'Vamsi', 'Madhavi', 'sam', 'Mounika', 'Bhanu']

In [79]:
if "Vamsi" in manager:
    print("he is in manager")
else:
    print("he is not in manager")

he is in manager

In [80]:
list5.append(list6)
list5

[1, 2, 3, 'Aravind', 'a', 'b', 'c', ['a', 'b', 'c']]

In [81]:
list5.count('b')

1

In [ ]:
## in a given list i want to get 2nd highest value
ex: 321321 321 121 3 3244234 332443
o/p:332443

In [96]:
marks=[]
marks_size=int(input("enter how many marks are there"))
for data in range(marks_size):
    marks_list=int(input("Enter Marks"))
    marks.append(marks_list)
print(marks)
print(max(marks))
def secondHighest(marks):
    marks.sort()
    return marks[2]
secondHighest(marks)

enter how many marks are there4
Enter Marks23
Enter Marks34
Enter Marks43
Enter Marks32
[23, 34, 43, 32]
43

34